/* line 3, ../_sass/screen.scss */
body {
  background: black;
  color: white;
}

/* line 8, ../_sass/screen.scss */
.ring_outer {
  border: 2px solid #f00;
  border-radius: 30px;
  height: 20px;
  width: 20px;
  position: absolute;
  left: 20px;
  top: 30px;
}

/* line 17, ../_sass/screen.scss */
.circle_central {
  height: 24px;
  width: 24px;
  position: absolute;
  left: 20px;
  top: 30px;
  -webkit-animation: pulsateb 0.5s ease-out infinite;
  background-image: -webkit-gradient(radial, 50%, 0, 50%, 62, color-stop(7%, #e50000), color-stop(15%, #990000), color-stop(23%, #ff0000), color-stop(32%, #990000), color-stop(37%, #b90000), color-stop(40%, rgba(204, 0, 0, 0.88)), color-stop(62%, rgba(204, 0, 0, 0)));
  background-image: -webkit-radial-gradient(center, ellipse cover, #e50000 7%, #990000 15%, #ff0000 23%, #990000 32%, #b90000 37%, rgba(204, 0, 0, 0.88) 40%, rgba(204, 0, 0, 0) 62%);
  background-image: -moz-radial-gradient(center, ellipse cover, #e50000 7%, #990000 15%, #ff0000 23%, #990000 32%, #b90000 37%, rgba(204, 0, 0, 0.88) 40%, rgba(204, 0, 0, 0) 62%);
  background-image: -o-radial-gradient(center, ellipse cover, #e50000 7%, #990000 15%, #ff0000 23%, #990000 32%, #b90000 37%, rgba(204, 0, 0, 0.88) 40%, rgba(204, 0, 0, 0) 62%);
  background-image: radial-gradient(center, ellipse cover, #e50000 7%, #990000 15%, #ff0000 23%, #990000 32%, #b90000 37%, rgba(204, 0, 0, 0.88) 40%, rgba(204, 0, 0, 0) 62%);
}

@-webkit-keyframes pulsateb {
  /* line 29, ../_sass/screen.scss */
  0% {
    -webkit-transform: scale(0.5, 0.5);
  }

  /* line 30, ../_sass/screen.scss */
  50% {
    -webkit-transform: scale(1, 1);
  }

  /* line 31, ../_sass/screen.scss */
  100% {
    -webkit-transform: scale(0.5, 0.5);
  }
}
