@import "compass";

body {
	background: black;
	color: white;
}

.ring_outer {
	border: 2px solid #f00;
	border-radius: 30px;
	height: 20px;
	width: 20px;
	position: absolute;
	left: 20px;
	top: 30px;
}
.circle_central {
	height: 24px;
	width: 24px;
	position: absolute;
	left: 20px;
	top: 30px;

	-webkit-animation: pulsateb 0.5s ease-out infinite; 

	@include background-image(radial-gradient(center, ellipse cover, rgba(229,0,0,1) 7%,rgba(153,0,0,1) 15%,rgba(255,0,0,1) 23%,rgba(153,0,0,1) 32%,rgba(185,0,0,1) 37%,rgba(204,0,0,0.88) 40%,rgba(204,0,0,0) 62%));
}
@-webkit-keyframes pulsateb {
	0% {-webkit-transform: scale(0.5, 0.5);}
	50% {-webkit-transform: scale(1, 1);}
	100% {-webkit-transform: scale(0.5, 0.5);}
}