<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>EnableGlobbing</key>
	<true/>
	<key>ExitTimeOut</key>
	<integer>600</integer>
	<key>Label</key>
	<string>local.daily</string>
	<key>Program</key>
	<string>/Users/home/file/code/scratch/daily.sh</string>
	<key>RunAtLoad</key>
	<true/>
	<key>StartCalendarInterval</key>
	<dict>
		<key>Hour</key>
		<integer>12</integer>
		<key>Minute</key>
		<integer>0</integer>
	</dict>
	<key>TimeOut</key>
	<integer>600</integer>
</dict>
</plist>
